/* Estilizações gerais */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

/* img{
  background-color: #ddd;
  border-radius: 50%;
  height: 300px;
  object-fit: cover;
  width: 300px;  
} */


h1 {
  font-weight: 700;
}


p,
a {
  font-family: "Montserrat", sans-serif;
}

a,
a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}

a:hover {
  transition: all 0.3s ease-in-out;
}

input{
  outline: none;
}

input:focus {
  border: 2px solid yellow;
}

textarea{
  outline: none;
}

textarea:focus{
  border: 2px solid yellow;
}

/* ID's */
#idPrincipal{
    width: 100%;
}

#imgPerfil{
  background-color: #ddd;
  border-radius: 50%;
  height: 300px;
  object-fit: cover;
  width: 300px;  
}

#idSobreMim{
    background-color: #2a8fad;
    height: 100vh;
    padding-top: 1%;
}

#idProjetos{
  height: 100vh;
  padding-top: 1%;
}

#idContato {
  background-color: #2a8fad;
  height: 80vh;
  padding-top: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* #idContato > * {
  display: inline-block;
  vertical-align: middle;
} */

.iconEmail,
#textoContatos {
  display: flex;
  flex-direction: column; 
}

#containerContato > * {
  margin-bottom: 15px;
  display: inline-block;
  vertical-align: middle;
}

#textoContatos > a {
  display: flex;
  align-items: center;
}

#formulario input {
  margin-bottom: 10px; /* Espaçamento entre os inputs */
}

#formulario .mensagem {
  margin-bottom: 10px; /* Espaçamento entre o textarea e o botão */
}

#formulario .btn {
  margin-bottom: 0; /* Remove o espaçamento entre o botão e o próximo elemento */
}

#textoContatos svg {
  margin-right: 10px;
}

#textoContatos p{
  margin: 0px;
}

#textoContatos{
  margin-top: -1%;
  width: 100%;
  /* padding-right: 10%; */
}

#containerContato{
  margin-left: 25%;
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#containerContato > .iconEmail-h2-container {
  display: flex;
  align-items: center;
}

#containerContato > .iconEmail-h2-container > svg,
#containerContato > .iconEmail-h2-container > h2 {
  display: inline-block;
  vertical-align: middle;
  padding-left: 0px;
  padding-right: 5px;
  margin: 0px;
}

#containerContato > * {
  display: inline-block;
  vertical-align: middle;
}

#menuSuperior{
  border-bottom: solid rgba(211, 211, 211, 0.548) 1px;
  padding: 20px;
  display: flex;
}

#links{
  margin-left: 75%;
  display: flex;
}

#textoApresentacao{
  padding-right: 5%;
  /* max-width: 32%; */
}

#foto{
  padding-left: 5%;
}

#textoFoto {
  display: flex;
  align-items: center;
  justify-content: center; 
  margin: 0 auto; 
  max-width: 55%; 
  height: 100%;
}

#containerSobre{
  display: flex;
  align-items: center;
}

#habilidades{
  margin-left: 15%;
  /* margin-top: -4%; */
  max-width: 45%;
}

#imagensH{
  display: flex;
}

#rodape{
  background-color: #1C5F73;
  height: 20vh;
  padding-top: 1%;
  text-align: center;
}


#rodapeTexto{
  font-family: "Montserrat", sans-serif;
  color:#2d8fadce;
}

/* Classes */
.container{
    
}

.iconEmail{
  /* padding-left: 2%; */
  margin: 0;
}

.form{
  padding: 15px;
  width: 90%;
  border-radius: 5px;
  border: none;
  font-family: "Montserrat", sans-serif;
  /* color: white; */
  background-color:#47bbdf;
}

.btn{
  border: solid white 3px;
  border-radius: 50px;
  width: 150px;
  height: 60px;
  background-color: #1C5F73;
  color: white;
  cursor: pointer;
}

/* .figuras{
  margin-top: 2%;
  margin-left: 13%;
  border-radius: 10px;
  height: 400px;
  width: 40%;
  background-color: #1C5F73;
  display: flex;
  flex-wrap: wrap; 
}

.tec{
  width: calc(33.33% - 20px); 
    height: calc(33.33% - 20px); 
    margin: 10px;
    background-color: #237690; 
    border-radius: 5px; 
}

.restante{
  width: calc(66.66% - 20px); 
  height: calc(66.66% - 20px); 
} */

.figuras {
  margin-top: 2%;
  margin-left: 13%;
  border-radius: 10px;
  height: 400px;
  width: 40%;
  background-color: #1C5F73;
  display: flex;
  flex-direction: row;
}

.iconeR{
  margin-top: 3%;
}

.espaco{
  margin-right: 35px;
}

.copyR{
  margin-top: 1%;
}

.coluna {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.tec {
  width: calc(100% - 20px); 
  height: calc(33.33% - 20px);
  margin: 10px;
  background-color: #237690;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.ocupar-restante {
  width: calc(50% - 20px);
  height: calc(100% - 20px);
}

.texto{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
  line-height: 1.5em;
  max-width: fit-content;
}

/* .imagens{
  background-color: #ddd;
  border-radius: 50%;
  height: 300px;
  object-fit: cover;
  width: 300px;  
} */

/* .nomeLogo{
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  font-size: large;
  margin-left: 2%
} */

.computador{
  margin-top: -10%;
  margin-left: 2%;
}

.cabecalho{
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  /* font-size: large; */
  margin-left: 2%
}

.cabecalhoH{
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  font-size: large;
}

.lista{
  font-family: "Montserrat", sans-serif;
  line-height: 2em;
}

.corNome{
    /* color: #2ea1c4; */
    color: #2a8fad;
}

.botaoSM{
  margin-top: 25px;
}

.corHabilidade{
  /* color: rgb(114, 236, 114); */
  color: yellow;
}

.linksCabecalho{
  color: black;
}

.botaoSobreMim{
    /* border: solid #2ea1c4 1px; */
    border: solid #2a8fad 1px;
    padding: 10px;
    /* color: #2ea1c4; */
    color: #2a8fad;
    font-weight: bolder;
}

.icones{
  display: flex;
  align-items: center;
  margin: 0 auto; 
  max-width: 55%; 
}

.branco{
  color: white;
}

.apresentacao{
    height: 93vh;
    font-family: "Montserrat", sans-serif;
    /* display:inline-flex; */
    align-items: center;
    justify-content: center;
}

.github{
  margin-right: 15px;
}

.sobre{
  margin-top: 3%;
  margin-left: 2%;
  max-width: 50%;
}

.sobreC{
  margin-top: 3%;
  margin-left: 2%;
  max-width: 50%;
  margin-bottom: 0px;
}

.projetos{
  margin: 0px 20px;
}

.mensagem{
  max-width: 90% !important;
  min-height: 20%;
  max-height: 40%;
  padding: 15px;
  width: 90%;
  border-radius: 5px;
  height: 20%;
  border: none;
  font-family: "Montserrat", sans-serif;
  /* color: white; */
  background-color:#47bbdf;
}

.contato{

}